<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>高校の先輩と繋がろう</h1>
        <a href="" class="btn btn-success btn-lg">先輩検索を始める</a>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>
