<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>もっと自由に進路を選ぼう</h1>
        <% unless logged_in? %>
          <%= link_to '先輩検索を始める', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if logged_in? and @followings.present? %>
  <%= render 'detail', followings: @followings %>
<% end %>
  
  

